[submodule "can-talon-srx-ros"]
	path = can_talon_srx_ros
	url = git@github.com:LunarKnights/can-talon-srx-ros.git
[submodule "zed-ros-wrapper"]
	path = zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper
[submodule "apriltags2_ros"]
	path = apriltags2_ros
	url = https://github.com/cactorium/apriltags2_ros
[submodule "orb2_slam"]
	path = orb2_slam
	url = git@github.com:LunarKnights/orb2_slam.git
