<?xml version="1.0"?>
<launch>
  <node name="zed_node" pkg="zed_wrapper" type="zed_wrapper_node" output="screen">
    <param name="resolution" value="3" />
    <param name="frame_rate" value="60" />
  </node>
  <node name="orb2_slam" pkg="orb2_slam_cuda_ros" type="orb2_slam_cuda_node" output="screen">
    <param name="vocabulary_path" value="$(find orb2_slam_cuda)/Vocabulary/ORBvoc.txt" />
    <param name="settings_path" value="$(find orb2_slam_cuda_ros)/config/test.yaml" />
    <param name="camera_type" value="1" />
    <param name="publish_tf" value="true" />
    <remap from="/orb2_slam/depth_raw" to="/depth/depth_registered" />
    <remap from="/orb2_slam/rgb_raw" to="/left/image_raw_color" />
  </node>
</launch>
