<?xml version="1.0"?>
<launch>
  <param name="robot_namespace" value="sirdigsalot"/>
  <node name="sirdigsalot" pkg="sirdigsalot" type="sirdigsalot" output="screen"/>

  <include file="$(find lk_navigation)/launch/navigation.launch">
    <arg name="robot_namespace" value="sirdigsalot"/>
  </include>

  <include file="$(find lk_base)/launch/base.launch">
    <arg name="robot_namespace" value="sirdigsalot"/>
  </include>
</launch>
