<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find lk_control)/config/control.yaml"/>
  <rosparam file="$(find lk_control)/config/hardware.yaml"/>
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
    args="sirdigsalot/lk_joint_publisher sirdigsalot/lk_velocity_controller"/>
    <!-- args="lk_joint_publisher lk_velocity_controller"/> -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- TODO: add ukf_localization -->

  <node name="lk_control_mux" pkg="lk_control" type="lk_control_mux"/>
</launch>
