<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find lk_control)/config/control.yaml"/>
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
    args="lk_joint_publisher lk_velocity_controller --shutdown-timeout 3"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- TODO: add ukf_localization -->
  <!-- TODO: add control multiplexer -->
</launch>
