<?xml version="1.0"?>
<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Load example URDF -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find lk_description)/urdf/model.xacro'" />

  <group ns="/sirdigsalot">

    <!-- Load hardware interface -->
    <!-- <node name="sirdigsalot_hardware_interface" pkg="ros_control_boilerplate" type="sirdigsalot_hw_main"
          output="screen" launch-prefix="$(arg launch_prefix)"/> -->

    <!-- Load controller settings -->
    <rosparam file="$(find lk_control)/config/control.yaml" command="load"/>

    <!-- Load controller manager -->
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
	  output="screen" args="spawn joint_state_controller lk_diff_drive_controller" />

    <!-- Convert joint states to /tf tranforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="/joint_states" to="/sirdigsalot/joint_states"/>
   </node>

  </group>

</launch>

