<!-- used to run gazebo for testing -->
<launch>
  <!-- uses empty world logic but changes name -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find lk_rover)/worlds/empty.world"/>
    <arg name="gui" value="false"/>
    <!-- more parameters would go here -->
  </include>
  <node name="spawn_rover" pkg="gazebo_ros" type="spawn_model" args="-file $(find lk_rover)/urdf/rover.urdf -urdf -z 1 -model sirdigsalot" />
  <node name="localization_node" type="ekf_localization_node" pkg="robot_localization">
    <rosparam command="load" file="$(find lk_rover)/params/ukf.yaml" />
  </node>
</launch>

